.default {
  color:black;
  background-color: white;
  min-height: 60vh;
  padding: 5rem auto 0rem auto;
  margin: 3rem auto 0rem auto;
  width: 75vw;
  border-radius: 5px;
  z-index: 1;
  background-color:rgba(255, 255, 255, 0.301);
  &--paragraph {
    text-align: justify;
     text-indent: 0rem;
     white-space: pre-line;
     max-width: 35vw;
  }
}
