.knowledgeContainer {
  color:black;
  flex: row nowrap;
  padding: 5rem auto 0rem auto;
  margin: 3rem auto 0rem auto;
  width: 75vw;
  z-index: 1;

  &--header{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
      background-color:rgba(255, 255, 255, 0.301);
    height: 2rem;
    display: block;
    justify-content: center;
    width: 100%;
    color: black;
    font-size: 100px;
    margin-top: 2rem;
    text-align: left;
    padding-left: 1rem;

    &__icon {
      height: .5rem;
      width: .5rem;
    }
    & > h1 {
      padding: 0.5rem 0;
      font-size: 1rem;
      justify-content: center;
      vertical-align: middle;
    }

  }

  &--bottom {
      display: flex;
      justify-content: center;
      width: inherit;
      background-color:rgba(255, 255, 255, 0.301);
      
  }

  &--text {
    white-space: pre-line;
    margin-bottom: 3rem;
    padding: 1px 2rem;
    width: 70vw;
    height: 100%;
    min-height: 100vh;

  }

  &--links {

    align-items: left;
    display: block;
    width: 30vw;
    height: 100vh;

    &__img {
      margin-bottom: 1rem;
    }

    &__title{
      font-size: 1.5rem;
      white-space: nowrap;
      text-transform: uppercase;
    }

    &__ul {
      margin: 0;
      width: 100%;
      padding: .5rem 1rem;
    }

    &__li{
      list-style-type: none;
      text-align: left;
      width: 100%;
      color: #d8111b;
      font-size: 1.3rem;
      &:not(:last-child){
        border-bottom: .7px lightgray solid;
      }


      & > button {
        padding: 0;
        border: none;
        background: none;
        line-height: 4rem;

        &:hover {
          color:black;
        }
      }
    }
  }
}
