.post {
      max-width: 50%;
      background-color:rgba(255, 255, 255, 0.301);
      border-top-left-radius: 5px;
      padding: 0 2rem;
      color: black;
      height: 100%;
      z-index: 1;

      &-loading {      
            max-width: 50%;
            background-color: transparent;

            padding: 0 2rem;
            color: black;
            height: 100vh;

      }
      &--btn {
            flex-basis: 100%; display: flex;
      }
      & > a {
            text-decoration: underline;
            font-size: 20px;
            font-weight: 500;
            color: black;
            margin: 2rem 0;
      }
      &--component {
            margin: 0.5rem 0;

            &__title {
                  text-transform: uppercase;
                  padding-top: 10px;
                  padding-bottom: 13px;
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 1.1;
            }

            &__date {
                  font-weight: bold;
                  font-size: 13px;
            }

            &__headingImage {
                  float: left;
                  margin: 0 20px 20px 0;
                  min-width: 35%;
            }

            &__text {
                  text-align: justify;
                  white-space: pre-line;
                  font-size: 1.2rem;
                   
            }

            &__picContainer {
                  background-color:rgba(255, 255, 255, 0.301);
                  border-top-right-radius: 5px;
                  max-width: 50%;
                  padding: 0 2rem;
                  display:flex;
                  align-items: center;
                  flex-direction: column;
                  width: 20vw;
                  padding: 10px;
                  margin-bottom: 30px;
                  color: black;
                  z-index: 1;
                  &-map > img {
                        max-width: 100%;
                        margin-bottom: .41rem;
                  }

                  &-map > label {
                        font-size: .5rem;
                  }
            }
      }
} 



.post-container {
      width: 100vw;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 5rem auto;
}