@import './base';

.footer-list {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d000a+0,8f0222+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d000a+0,8f0222+100 */
background: #5d000a; /* Old browsers */
background: -moz-linear-gradient(top, #5d000a 0%, #8f0222 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #5d000a 0%,#8f0222 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #5d000a 0%,#8f0222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d000a', endColorstr='#8f0222',GradientType=0 ); /* IE6-9 */
      margin: 0rem;
      width: 100%;
      color: white;
      padding: 0;
      -webkit-box-shadow: 1px -1px 57px 5px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px -1px 57px 5px rgba(0,0,0,0.75);
      box-shadow: 1px -1px 27px 2px rgba(0, 0, 0, 0.164);
      display: flex;
      flex-flow: nowrap row;
      justify-content: space-around;
      color: black;

      @media (max-width: $bp-tab-land){
            padding: 0;
      }

      @media (max-width: $bp-tab-port) {
            flex-flow: wrap row;
            justify-content: center;
            align-items: center;
      }

      @media (max-width: $bp-phone) {
            flex-flow: wrap column;
            justify-content: center;
            align-items: center;
      }


      
      &-items {

            justify-content: space-around;
            width: 15.1%;
            height: 6rem;
            margin: 2rem 0rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-bottom: solid 1px white;
            
            @media (max-width: $bp-tab-port){
                  width: 35%;
                  border-bottom: none;
            }

            @media (max-width: $bp-phone){
                  margin: .5rem 0rem;
                  width: 60%;
            }

            & > svg {
                  display: block;
                  overflow: hidden;
                  height: 38px;
                  width: 51px;
                  justify-content: center;
                 text-align: center;
                  fill: white;

                 &:first-child {
                  height: 40px;
                  width: 55px;
                  }
            }



            &-text {
                  font-size: 1rem;
                  padding: .5rem;
                  color: white;

                  @media (max-width: $bp-tab-port){
                        font-size: .8rem;
                  }
            }

            &-text1 {
                  color: white;
                  font-size: 0.7rem;


            }
      }
}
