$navcolor: #5d000a;

@import 'base';


.header {
      &--burger {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            margin-right: 2rem;

            @media (min-width: $bp-phone){
                  display: none;
            }
      }
            
      &--block {
            display: flex;
            flex-wrap: nowrap;
            height: 100%;
            justify-content: left;
            padding: 0;
            margin: 0;
            
            &:hover {
                  text-decoration: none;
            }

            &__title {
                  display: flex;
                  color: white;
                  height: 100%;
                  align-items: center;
                  justify-content: center;
                  & > h1 {
                        margin: 0rem 1rem;
                        font-size: 1.5rem;

                        @media (max-width: $bp-tab-port){
                              font-size: 1.1rem;
                              margin: 0rem .5rem;
                        }
                  }
            }

            &__image{
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  max-width: 50px;
                  margin: 0rem .5rem;
                  & > img {
                        max-width: 90%;
                        max-height: 90%;

                  }

                  
                  @media (max-width: $bp-tab-port){
                        display: none;

                  }
            }
      }

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8f0222+0,5d000a+100 */
background: #8f0222; /* Old browsers */
background: -moz-linear-gradient(top, #8f0222 0%, #5d000a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8f0222 0%,#5d000a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8f0222 0%,#5d000a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#5d000a',GradientType=0 ); /* IE6-9 */
      -webkit-box-shadow: 4px 5px 32px -2px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 5px 32px -2px rgba(0,0,0,0.75);
      box-shadow: 4px 5px 32px -2px rgba(0,0,0,0.75);
      width: 100vw;
      height: 8vh;
      min-height: 2rem;
      position: fixed;
      top: 0;
      z-index: 100000;
      display:flex;
      flex-flow: nowrap row;
      font-weight: 200;
      letter-spacing: .5px;
      font-variant: small-caps;
      justify-content: space-between;
      color: white;



      &__button {
            display: block;
            background-color: white;
            height: 4rem;
            width: 4rem;
            position: fixed;
            top: 6rem;
            right: 6rem;
            border-radius: 50%;
            z-index: 2000;
            box-shadow: 0 1rem 3rem rgba(black, .1);
            text-align: center;
            justify-content: center;
            cursor: pointer;


            & > img {
                  position: absolute;
                  width: 80%;
                  height: 80%;
                  object-fit: scale-down;
                  left: 50%;
                  top: 50%; 
                  margin-left: -40%;
                  margin-top: -40%;

            }
      }


      &--container {
      
            &__burger { // Checkbox
                  color: black;
                  display: none;

                  #burger-toggle:checked + .header--container__nav {
                        background-color: red;
                  }


                  
                  @media (max-width: $bp-phone){
                        display: flex;

                  }
            }

            

            &__button {
                  color: black;
                  height: 3rem;
                  width: 3rem;
                  border-radius: 50%;
                  background-color: white;
                  z-index: 500;
                  box-shadow: 0 1rem 3rem rgba(0,0,0,0.15);
                  display: none;

                  @media (max-width: $bp-phone){
                        display: flex;
                        cursor: pointer;
                        justify-content: center;
                        align-items: center;
                  }
            }



            &__nav {
                  height: 100vh;
                  width: 100%;
                  position: fixed;
                  top: 0;
                  right: 0;
                  z-index: 100;
                  opacity: 1;

                  &--burgerLinks {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        list-style: none;
                        text-align: center;
                        display: none;
                  }
            }


      }

}

.color-white{
      color: white !important;
      font-weight: bolder;
      font-size: 22px;
      z-index: 1000000;
      display: block; 
      height: 100%;


}

.links {
      height: 100%;
      display: flex;
      margin: 0px;
      padding: 0;
      flex-flow: nowrap row;
      list-style: none;
      flex: 0 1 50%;
      justify-content: space-around;
      align-items: center;
      
      @media (max-width: $bp-phone){
            display: none;
      }

      &--item {
            @media (max-width: $bp-phone){
                  display: none;
            }

            &__a {
                  color:white !important;
                  text-transform: lowercase;
                  font-weight: bolder;
                  font-size: 22px;
                  z-index: 1000000;
                  display: block; 
                  height: 100%;
                  border-bottom: transparent solid 1px;


                  @media (max-width: $bp-tab-port){
                        font-size: .8rem;
                  }




            }
            &__a:hover, :focus{
                  opacity: 1;
                  text-decoration: none;
                  border-bottom: white solid 1px;
                  
            }
      }
}

