@import './base';


.slider-container {
      height: 60vh;
      background-image: linear-gradient(135deg, rgba(202, 202, 202, 0.6) 0%,rgba(141, 141, 141, 0.8) 100%), url(../../img/home.jpg);
      background-size: cover;
      background-position: center; 
}


