@import './base';

.oldNews {
      
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: center;
      margin: 4rem 0;

      @media (max-width: $bp-tab-land){
            width: 80%;
      }

      @media (max-width: $bp-tab-port){
            width: 95%;
      }
      &--card {
            margin: 1rem;
            justify-content: space-evenly;
            border-bottom: 1px solid rgb(0, 0, 0);
            list-style-type: none;

            &__link {

                  color: black;
                  &:hover {
                        text-decoration: none;
                  }
            }
            
            &__textbox {
                  color: black;
                  display:flex;
                  flex-direction: row-reverse;
                  flex-wrap: nowrap;
                  align-items: center;

                  @media (max-width: $bp-tab-land){
                        font-size: 1.4rem;
                  }

                  &:hover,
                  :focus {
                        color: rgba(0, 0, 0, 0.473);
                        text-decoration: none;
                  }
            }

            &__title {
                  display: flex;
                  flex: 2 1 75%;
                  font-size: 1.7rem;

                  @media (max-width: $bp-tab-land){
                        font-size: 1.4rem;
                  }
                  @media (max-width: $bp-tab-port){
                        font-size: 1rem;
                  }

            }

            &__date {
                  display: flex;
                  flex: 1 1 14%;
                  margin-right: 5rem;
                  white-space: nowrap;
                  @media (max-width: $bp-tab-land){
                        font-size: 1.4rem;
                        margin-right: 3rem;
                  }
                  @media (max-width: $bp-tab-port){
                        font-size: 1rem;
                  }
            }

            &__see {
                  font-size: 1.5rem;
                  @media (max-width: $bp-tab-land){
                        font-size: 1.4rem;
                  }
                  @media (max-width: $bp-tab-port){
                        font-size: 1rem;
                  }

                  @media (max-width: $bp-phone){
                        display: none;     
                  }
            }

      }

}

.relative-oldNews {
      display: flex;
      justify-content: center;
}